@import '__vars';
@import '__reset';

.show {
	display: flex !important;
}

body {
	font-family: 'Jost', sans-serif;
	color: $black;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container {
	max-width: 1470px;
	margin: 0 auto;
	padding: 0 15px;
}

.container-fluid {
	max-width: 1920px;
	margin: 0 auto;
}

.slick-track {
	display: flex !important;
}

#map {
	min-width: 700px;
	height: 539px;
}

.header {
	padding-top: 53px;
	z-index: 101;
	background-color: white;

	&__inner {
		display: flex;
		align-items: center;
		position: relative;
	}
	&__logo {
		width: 146px;
	}
	&__city {
		margin-left: 40px;
		display: flex;
		align-items: center;
		gap: 5px;
		&-text {
			@extend %desc-font;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		max-width: 470px;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 130%;
		&-highlight {
			font-weight: 500;
		}
	}
	&-profile__dropdown {
		display: flex;
		position: absolute;
		flex-direction: column;
		padding: 20px 14px;
		width: 260px;
		right: 0;
		top: 50px;
		background: white;
		box-shadow: 0px 6px 14px 0px rgba(67, 51, 48, 0.3);
		backdrop-filter: blur(15px);
		transition: all 0.3s;
		display: none;
		&-info {
			border-bottom: 1px solid $dark-gray;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			text-align: start;
			padding-bottom: 24px;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 110%;
			margin-bottom: 7px;
		}
		&-link {
			width: 100%;
			text-align: start;
			color: $black;
			padding: 10px 0;
			font-size: 15px;
			font-style: normal;
			font-weight: 500;
			line-height: 100%;
		}
	}
	&__dropdown {
		display: flex;
		position: absolute;
		flex-direction: column;
		padding: 20px 0;
		width: 192px;
		right: 0;
		top: 50px;
		background-color: $black;
		display: none;

		&-link {
			width: 100%;
			text-align: start;
			&:first-child {
				background-color: $yellow;
				color: $black;
			}
			color: $light-gray;
			padding: 10px 16px;
			font-size: 15px;
			font-style: normal;
			font-weight: 500;
			line-height: 100%;
		}
	}
	.choices {
		&::after {
			display: none;
		}

		&__inner {
			min-height: auto;
			padding: 0;
			border-radius: 0;
			border: none;
			border-bottom: 1px dashed $black;
			background-color: transparent;
			font-size: 22px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}

		&__list {
			min-width: auto;
			& .choices__item--selectable.is-highlighted {
				background: $gray;
			}
		}

		&__list--single {
			padding: 0;
		}
	}

	.choices[data-type*='select-one'] .choices__inner {
		padding: 0;
	}

	.choices__list--dropdown .choices__item,
	.choices__list[aria-expanded] .choices__item {
		color: $dark-gray;
		font-size: 22px;
		font-style: normal;
		font-weight: 400;
	}

	.choices__list--dropdown .choices__item--selectable.is-highlighted,
	.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
		background-color: $light-gray;
		color: $black;
	}

	.choices__list--dropdown,
	.choices__list[aria-expanded] {
		word-break: keep-all;
		width: max-content;
		border: none;
		border-top: 1px solid $black;
		box-shadow: 0px 4px 8px 0px rgba(67, 51, 48, 0.3);
	}

	.choices__list--dropdown .choices__item--selectable,
	.choices__list[aria-expanded] .choices__item--selectable {
		padding: 10px;
	}

	&__input {
		position: absolute;
		right: 246px;
		width: 453px;
		padding-right: 45px;
		border: none;
		border-bottom: 1px solid $dark-gray;
		outline: none;
		@extend %desc-font;
		background: transparent url('../images/search.svg') right no-repeat;
	}

	&__buttons {
		margin-left: auto;
		display: flex;
		align-items: center;
		gap: 32px;

		&-cart,
		&-account {
			width: 40px;
			height: 40px;
		}

		&-phone,
		&-location,
		&-menu {
			display: none;
		}
		&-menu {
			position: relative;
		}
		&-account {
			position: relative;
			cursor: pointer;
			border: none;
			background-color: transparent;
		}
	}
}

.navigation {
	background-color: $black;
	&__search {
		display: none;
	}
}

.menu {
	margin-top: 39px;

	&__list {
		display: flex;
		align-items: center;
		gap: 44px;
		font-size: 22px;
		font-style: normal;
		font-weight: 500;

		&-link {
			color: $light-gray;
		}

		&-item {
			&:first-child {
				.menu__list-link {
					color: $black;
				}

				padding: 16px 40px;
				margin-right: 23px;
				color: $black;
				background-color: $yellow;
			}

			&:last-child {
				margin-left: auto;
			}
		}
	}
}

.accountmenu {
	margin-top: 39px;
	padding: 12px 0;
	&__list {
		display: flex;
		align-items: center;
		gap: 64px;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;

		&-link {
			display: flex;
			align-items: center;
			gap: 8px;
			color: $light-gray;
			&.active {
				color: $yellow;
				& img {
					filter: brightness(0) saturate(100%) invert(70%) sepia(60%)
						saturate(634%) hue-rotate(351deg) brightness(101%) contrast(97%);
				}
			}
			&:hover {
				color: $yellow;
				& img {
					filter: brightness(0) saturate(100%) invert(70%) sepia(60%)
						saturate(634%) hue-rotate(351deg) brightness(101%) contrast(97%);
				}
			}
		}
	}
}

.footer {
	background-color: $light-gray;
	padding: 64px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
		&-mobile {
			display: none;
		}
	}
	&__logo {
		&-img {
			margin-bottom: 11px;
			width: 211px;
			height: 44px;
			width: 114px;
		}
		&-copyright {
			color: $dark-gray;
			font-size: 22px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 5px;

		&-link {
			color: $dark-gray;
			font-size: 22px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
	}
}

.modal {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	background: rgba(26, 26, 26, 0.4);
	backdrop-filter: blur(15px);
	-webkit-transition: opacity 200ms ease-in;
	-moz-transition: opacity 200ms ease-in;
	transition: opacity 200ms ease-in;
	pointer-events: none;
	margin: 0;
	padding: 0;
	opacity: 0;

	&-container {
		width: 1194px;
		min-height: 236px;
		padding-bottom: 110px;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		margin: 0 auto;
		margin-top: 112px;
		margin-bottom: 112px;
		padding-top: 90px;
		background-color: #fff;
	}

	&__close {
		position: absolute;
		top: 50px;
		right: 44px;
		border: none;
		cursor: pointer;
		width: 40px;
		height: 40px;
		background-image: url("data:image/svg+xml,%3Csvg width='41' height='42' viewBox='0 0 41 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='button / close'%3E%3Cline id='Line 6' y1='-0.5' x2='56.5685' y2='-0.5' transform='matrix(0.707107 0.707107 -0.644439 0.764655 0 1)' stroke='%2386827A'/%3E%3Cline id='Line 7' y1='-0.5' x2='56.479' y2='-0.5' transform='matrix(-0.707633 0.706581 -0.643879 -0.765128 39.9666 1)' stroke='%2386827A'/%3E%3C/g%3E%3C/svg%3E%0A");
		background-color: transparent;
		outline: none;
	}

	&.active {
		opacity: 1;
		pointer-events: auto;
		overflow-y: auto;
	}

	&__tabs {
		display: flex;
		&-item {
			border-bottom: 2px solid $gray;
			padding: 10px 80px 20px 80px;
			a {
				color: $dark-gray;
			}
			&.active {
				border-bottom: 2px solid $yellow;
				a {
					color: $black;
				}
			}
		}

		&-link {
			font-size: 26px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			cursor: pointer;
		}

		&-panel {
			margin-top: 43px;
			display: none;
			&.active {
				display: block;
			}
		}
	}

	&__authorization {
		display: flex;
		flex-direction: column;
		width: 452px;
		gap: 48px;
		font-size: 26px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

		&-input {
			padding: 12px 24px;
			outline: none;
			border: 1px solid $gray;
			&:focus {
				border: 1px solid $black;
			}
		}

		&-button {
			padding: 14px 54px;
			background-color: $yellow;
			border: none;
			cursor: pointer;
		}

		&-reset {
			margin-top: 18px;
			color: $dark-gray;
			font-size: 22px;
			text-decoration-line: underline;
		}
	}

	&__registration {
		display: flex;
		flex-direction: column;
		align-items: center;
		&-radiobuttons {
			margin-bottom: 48px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 102px;
		}

		&-label {
			font-size: 26px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}

		&-radio {
			position: absolute;
			z-index: -1;
			opacity: 0;

			&:checked + span {
				color: $black;
			}

			&:checked + span::before {
				border: 1px solid $black;
				background-color: #fff;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Crect x='7' y='7' width='16' height='16' fill='%231A1A1A'/%3E%3C/svg%3E");
			}
		}

		&-fake {
			display: inline-flex;
			align-items: center;
			user-select: none;
			color: $dark-gray;
			cursor: pointer;
			&::before {
				content: '';
				display: inline-block;
				width: 30px;
				height: 30px;
				flex-shrink: 0;
				flex-grow: 0;
				border: 1px solid $gray;
				margin-right: 0.5em;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 100% 100%;
			}
		}
		&-fields {
			display: flex;
			flex-wrap: wrap;
			gap: 42px;
			margin-bottom: 50px;
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: 130%;
		}
		&-panel {
			display: none;
			height: 100%;

			textarea {
				height: 100%;
				width: 452px;
				resize: none;
			}

			&.active {
				display: flex;
				flex-direction: column;
				gap: 48px;
			}
		}

		&-left {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			gap: 48px;
		}

		&-right {
			display: flex;
			flex-direction: column;
			gap: 48px;
		}

		&-input {
			padding: 12px 24px;
			width: 452px;
			outline: none;
			border: 1px solid $gray;
			&:focus {
				border: 1px solid $black;
			}
		}

		&-button {
			width: 450px;
			margin-top: 50px;
			padding: 14px 54px;
			font-size: 26px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;

			background-color: $yellow;
			border: none;
			cursor: pointer;
		}
	}
}

@media screen and (max-width: 1440px) {
	.container-fluid {
		max-width: 1440px;
	}
	.container {
		max-width: 1024px;
	}
	.header {
		&__input {
			width: 260px;
			right: 140px;
		}
	}
	.modal {
		&-container {
			width: 100%;
			height: 100%;
			margin: 0;
			overflow-y: auto;
		}
	}
}

@media screen and (max-width: 1024px) {
	.container {
		max-width: 768px;
	}
	.header {
		&__inner {
			padding-bottom: 40px;
		}
		&__info {
			display: none;
		}
		&__city {
			display: none;
		}
		&__input {
			display: none;
		}
		&__buttons {
			gap: 20px;
			&-account,
			&-location,
			&-cart {
				width: 24px;
				height: 24px;
			}
			&-phone,
			&-location,
			&-menu {
				display: flex;
				justify-content: center;
			}
			&-menu {
				border: none;
				outline: none;
				background-color: transparent;
			}
		}
	}
	.menu {
		display: none;
	}
	.navigation {
		&__search {
			display: flex;
			width: 100%;
			padding: 8px 0px;
			&-input {
				height: 38px;
				width: 100%;
			}
			&-button {
				padding: 0px 28px;
				background-color: $yellow;

				transition: 0.3s;
				border: 1px solid $yellow;
				&:hover {
					box-shadow: 0px 4px 10px 0px #a77500 inset;
					border: 1px solid #a77500;
				}
			}
		}
	}
	#map {
		min-width: 100%;
		height: 539px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		max-width: 100%;
	}
	#map {
		height: 274px;
	}
	.modal {
		&-container {
			width: 100%;
			padding: 0 20px;
			padding-top: 90px;
			padding-bottom: 20px;
		}
		&__tabs {
			width: 100%;
			&-item {
				text-align: center;
				width: 50%;
				padding: 10px 0px;
			}
			&-panel {
				width: 100%;
				margin-top: 24px;
			}
		}
		&__authorization {
			width: 100%;
		}
		&__registration {
			width: 100%;
			&-radiobuttons {
				display: flex;
				width: 100%;
				margin-bottom: 24px;
				gap: 10px;
			}
			&-label {
				font-size: 14px;
			}
			&-left {
				width: 100%;
				gap: 24px;
			}
			&-input {
				width: 100%;
			}
			&-right {
				width: 100%;
			}
			&-panel {
				width: 100%;
				&.active {
					gap: 24px;
				}
				& textarea {
					width: 100%;
				}
			}

			&-fields {
				width: 100%;
				gap: 24px;
				flex-wrap: nowrap;
				flex-direction: column;
				align-items: start;
				margin-bottom: 24px;
			}
			&-button {
				margin-top: 24px;
				margin-bottom: 24px;
				width: 100%;
			}
		}
	}
	.footer {
		&__inner {
			display: none;
			&-mobile {
				display: flex;
				flex-direction: column;
			}
		}
		&__logo {
			&-copyright {
				padding-top: 20px;
				text-align: center;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 110%;
			}
		}
		&__menu {
			display: flex;
			justify-content: space-between;
		}
		&__info {
			display: flex;
			justify-content: space-between;
			width: 100%;
			&-content {
				display: flex;
				flex-direction: column;
				align-items: end;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				color: $dark-gray;
			}
		}
		&__list {
			&-link {
				font-size: 15px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
		}
	}
}
