@import '__vars';
@import '__reset';
@import '__global';

.manage {
	&__inner {
		display: flex;
		align-items: center;
		justify-content: end;
		margin-top: 96px;
		margin-bottom: 81px;
		gap: 40px;
	}
	&__title {
		margin-right: auto;
		align-self: flex-start;
		@extend %title-min-font;
	}
	&__info {
		display: flex;
		flex-direction: column;
		align-items: end;
		&-name,
		&-contacts {
			color: $dark-gray;
			@extend %desc-min-font;
		}
	}
	&__button {
		padding: 4px 39px;
		width: 207px;
		text-align: center;
		background-color: $yellow;
		@extend %desc-font;
		cursor: pointer;
	}
}

.profile {
	&__inner {
		display: flex;
		flex-direction: column;
	}
	&__tabs {
		display: flex;
		justify-content: space-between;
		margin-bottom: 141px;
		&-panel {
			display: none;
			&.active {
				display: block;
			}
		}

		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			gap: 5px;
			width: 140px;
			height: 140px;
			@extend %desc-min-font;
			&:hover {
				& > img {
					display: none;
				}
				& > img.active {
					display: block;
				}
			}
			& > img {
				display: block;
			}
			& > img.active {
				display: none;
			}

			&.active {
				& > img {
					display: none;
				}
				& > img.active {
					display: block;
				}
			}
		}

		&-title {
			text-align: center;
			text-wrap: nowrap;
		}
	}

	&__change {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 40px;
		margin-bottom: 268px;
		&-title {
			@extend %title-min-font;
		}

		&-fields {
			display: flex;
			gap: 42px;
			@extend %desc-min-font;
		}

		&-input {
			padding: 12px 24px;
			width: 452px;
			outline: none;
			border: 1px solid $gray;
			&:focus {
				border: 1px solid $black;
			}
		}

		&-left {
			display: flex;
			flex-direction: column;
			gap: 48px;
		}

		&-right {
			display: flex;
			flex-direction: column;
			gap: 48px;
			textarea {
				height: 100%;
				width: 452px;
				resize: none;
			}
		}

		&-button {
			padding: 14px 54px;
			margin-top: 54px;
			background-color: $yellow;
			border: none;
			outline: none;
			@extend %link-font;
			cursor: pointer;
		}
	}

	&__orders {
		margin-bottom: 419px;
		&-title {
			@extend %title-min-font;
			margin-bottom: 50px;
		}

		&-head {
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 130%;
			color: $dark-gray;
			tr {
				border-bottom: 2px solid $dark-gray;
			}
			th {
				text-align: start;
			}
		}

		&-row {
			width: 948px;
			height: 81px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid $dark-gray;
		}

		&-item {
			width: 207px;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 130%;
			a {
				text-decoration: underline;
				font-size: 18px;
			}
		}
	}
}
